<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sessions Lab</title>
  </head>
  <body>
    <h1>Purchase an Item</h1>
    <form method="POST" action="/checkout">
      <h2>Item</h2>
      <h3>Name: <input type="text" name="item"></h3>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
